* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    width: 100%;
    z-index: 10;
}
.logo {
    display: flex;
    height: 70px;
    transition: all 0.30s ease-in-out;
}
/* Main */
main {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    font-size: 2rem;
    font-weight: 700;
    margin: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}
h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 20px;
    text-transform: initial;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin: 20px;
}
#item{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 50%;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
/* Buttons */
.toggleBtn {
    background-color: rgb(180, 216, 125);
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.30s ease-in-out;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
#enter {
    background-color: rgb(180, 216, 125);
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.30s ease-in-out;

}
#clearLocalStorage {
    background-color: #333;
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.30s ease-in-out;
}
.removeItem{
    background-color: rosybrown;
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.30s ease-in-out;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(../images/phototwo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    min-width: 230px;
    margin: 20px;
    border: #333 solid 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
/* Hover effect */
button:hover {
    background-color: #fff;
    color: #333;
    transform: translate(-2px);
}
#clearLocalStorage:hover {
    background-color: #fff;
    color: #333;
}   

#enter:hover {
    background-color: #fff;
    color: #333;
}

/* Display list */
#displayArea{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}
/* Items */
.item textarea {
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    line-height: 1.4;
    color: black;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.2rem;
    font-family: inherit;
    transition: all 0.30s ease-in-out;
  }
.text {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: initial;
    font-family: inherit;
    transition: all 0.30s ease-in-out;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
/* Footer */
.footer {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    background-color: #333;
    height: auto;
    display: flex;
    min-width: 360px;
}
.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.terms {
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.terms a {
    text-decoration: none;
    text-transform: initial;
    font-weight: 400;
    color: white;
    font-size: large;
}
.terms a:hover {
    color: #555;
}
.fa {
    margin-top: 20px;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}
.rights {
    padding-left: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: initial;
    font-weight: 200;
    padding-bottom: 50px;
    color: white;
}